<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#"> <b> DASHBOARD ||</b> Welcome ADMIN </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-1">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row no-gutter">
        <div class="col-md-2 bg-primary pr-3 pt-4">
            <ul class="nav flex-column ml-3 mb-5">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/user">DAFTAR USER</a>
                    <hr class="bg-light">
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/user/profile">PROFILE USER</a>
                    <hr class="bg-light">
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/user/history">HISTORY USER</a>
                    <hr class="bg-light">
                </li>
            </ul>
        </div>
        <div class="col-md-10">