<%- include('./partials/header') %>
    <link rel="stylesheet" href="css/login.css">
    <title>Daftar User</title>
    </head>

    <%- include('./partials/navbar') %>
        <h1>Welcome <%= admin.first_Name %>
                <%= admin.last_Name %>
        </h1>
        <p style="margin-bottom:-20px"> your account is SUPER ADMIN</p>
        <hr>
        <p>USER Dashboard page, use sidebar to navigate the list</p>

        </div>
        </div>
        <footer>
            <p>&copy; 2021 kelas <br>
                FSW 5 Binar Academy</p>
        </footer>
        <%- include('./partials/footer') %>