body {
    background-color: #9C835F;
}

.container {
    width: 30%;
    margin-top: 50px;
    padding: 20px;
    background-color: #343a40;
    box-shadow: 0 3px 20px;

}

.input-group {
    margin-bottom: 5px;
}

footer {
    margin-top: 10px;
    margin-bottom: -30px;
}