@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');

/* Navigation(Capital BOLD,14),
main button(Bold,16),
sub text (R,16),
body (regular,18px) use font open sans */

body {
    background: url(../img/bg-image-1.jpg) no-repeat center center fixed;
    /* webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover; */
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}


h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 3px;
    text-align: center;

}

h2 {
    color: white;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
}

h3 {
    color: white;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;

}

.re-size {
    font-size: 16px;
    width: 260px;
    height: 60px;
    padding: 1rem;
    font-weight: bold;
}

div.container:nth-child(15)>a:nth-child(1) {

    text-decoration: none;
    color: white;
}

.bg-dark {
    background: black !important;
    opacity: 0.5;
}