<%- include('../partials/header') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login system</title>
    </head>

    <%- include('../partials/navbar') %>
        <h1>Detail Profile</h1>
        <ul>
            <!-- mengembalikan nilai single object -->
            <li>First Name: <strong>
                    <%= profileId.first_name %>
                </strong></li>
            <li>Email: <strong>
                    <%= profileId.email %>
                </strong></li>
        </ul>
        <footer>
            <p>&copy; 2021 kelas. FSW 5 Binar Academy</p>
        </footer>
        <%- include('../partials/footer') %>