<%- include('../partials/header') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login system</title>
    </head>

    <body>
        <div class="container">
            <h1 style="color: #e4ded5;">Add Profile</h1>
            <form action="/user/profile" method="POST">
                <div class="mb-3">
                    <label>First Name</label>
                    <input class="form-control" type="text" name="first_name" placeholder="first name">
                </div>

                <div class="mb-3">
                    <label>Last Name</label>
                    <input class="form-control" type="text" name="last_name" placeholder="last name">
                </div>

                <div class="mb-3">
                    <label>Gender</label>
                    <input class="form-control" type="text" name="gender" placeholder="gender">
                </div>

                <div class="mb-3">
                    <label>Email</label>
                    <input class="form-control" type="text" name="email" placeholder="email">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/user/add">Kembali</a>
            </form>

            <footer>
                <p>&copy; 2021 kelas.FSW 5 Binar Academy</p>
            </footer>
        </div>
        <%- include('../partials/footer') %>