<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update profile</title>
</head>

<body>
    <form action="/user/profile/find/<%= profileupdate.id %>?_method=PUT" method="POST">
        <div>
            <label for="">First name</label><br>
            <input type="text" name="first_name" value="<%= profileupdate.first_name %>">
        </div>

        <div>
            <label for="">Last name</label><br>
            <input type="text" name="last_name" value="<%= profileupdate.last_name %>">
        </div>

        <div>
            <label for="">Gender</label><br>
            <input type="text" name="gender" value="<%= profileupdate.gender %>">
        </div>

        <div>
            <label for="">Email</label><br>
            <input type="text" name="email" value="<%= profileupdate.email %>">
        </div>


        <button type="submit">submit</button>
    </form>
</body>

</html>