<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update user</title>
</head>

<body>
    <form action="/user/find/<%= user.id %>?_method=PUT" method="POST">
        <div>
            <label for="">Username</label><br>
            <input type="text" name="user_name" value="<%= user.user_name %>">
        </div>

        <div>
            <label for="">Password</label><br>
            <input type="text" name="password" value="<%= user.password %>">
        </div>

        <button type="submit">submit</button>
    </form>
</body>

</html>